.movie-list {
    background-image: url('../../../../public/movie-img/Rectanglebg.svg');
    background-color: rgba(0, 0, 0, 0.958);
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.movie-list-heading {
    padding: 5rem 5rem 2rem 5rem ;
    color: white;
    font-size: 1.5rem;
    display: flex;

}

.movie-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.movie-card {
    margin: 2rem 4rem 2rem 4rem;
}