
.NavHero{
    background-image: url(https://w0.peakpx.com/wallpaper/355/184/HD-wallpaper-avatar-the-way-of-the-water-2022-avatar-2-avatar-the-way-of-water-2022-movies-movies.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 50rem;  
}

.Navbar {
    // margin-top: ;
    padding-top: 15px;
    display: flex;
    max-width: 100wv;
    justify-content: space-between;
    color: white;
}

.FirstHalf {}

.logo {
    margin-left: 1.5rem;

    & img {
        width: 5.5rem;
    }
}

.SecondHalf {
    margin-right: 1rem;

    & ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: 1.05rem;

        & li {
            margin: 0 1.5rem 0 1.5rem;
            transition: all ease-in-out .15s;
            cursor: pointer;


            &:hover {
                color: #FB1351;
                scale: 1.2;

            }
        }
    }
}

// for heroSection 
.heroSection{
    margin: 0rem 2rem;
    height: 100vh;
    width: 100wv;
    display: flex;
}
.slider{
    display: grid;
    grid-template-columns: 1fr  1fr;
    place-items: center;
    margin: 0rem 2rem 2rem 2rem;
    justify-content: center;
     transition: transform 0.5s ease-in-out;
}
.left-slider , .right-slider{
   display: flex;
   flex-direction: column;
   justify-content: center;
    color: white;
    cursor: pointer; 
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20px;
    // margin: 5rem 0 0 10rem ;
}
.movie-title{
    font-weight: bolder;
    color: white;
    font-size: 6rem;
}
.movie-stats{
    font-size: 1.2rem;
    display: flex;
    list-style: none;
    // justify-content:center;
    max-width:max-content;
    color: white;

    & .pg{
        margin-left: 0;
        border: 2px solid white;
        font-weight: bold;
        padding: 1px;
    }
    & li{
        margin: 0 0.5rem 0 .5rem;
    }
    & .imbd{
        display: flex;
        & img{
            width: 50px;
            margin-right: 4px;
        }
    }
}
.dic-movie{
    margin: 2rem 0rem ;
    text-wrap:balance;
    color: white;
    opacity: .2;
    transition: all ease-in-out .5s;
    &:hover{ 
        color:white;
        background-color:#fb135141;
        opacity:1 ;
    }
}
.movie-btn{
    margin: 0rem 0rem ;
    border: 2px solid #FB1351;
    max-width: fit-content;
    color: white;
    background-color: #FB1351;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

// Movie-Tailer
.movie-tailer{
    
    & img{
        width: 100%;
    }
}
